div{
	border: 25px;
}
body{
	background: url("http://wallpapercave.com/wp/7zrUXEH.jpg") no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
}
p{
	font-family:"BettyNoir", Helvetica, sans-serif;
	background:-webkit-linear-gradient(blue, black, blue);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-weight:bold;
	font-size:30px;
}
.elizaMenu{  
}
.therapyText{
	font-family:"BettyNoir", Helvetica, sans-serif;
	background:-webkit-linear-gradient(purple, black, blue);
	-webkit-background-clip: text;
  	font-weight:bold;
	font-size:20px;

}
.button{
	border-radius: 12px;
	background-color: white;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:#666699;
}
#name{
	border: 2px solid #666699;
    	border-radius: 4px;
	font-family:"Comic Sans MS", Helvetica, sans-serif;

}
#elizaInput{
	border: 2px solid #666699;
    	border-radius: 4px;
	font-family:"Comic Sans MS", Helvetica, sans-serif;

}
#scroll{
	background: url("http://i.imgur.com/DsYW0OY.png") no-repeat fixed;
	overflow-y: scroll;
	height:300px;
	width:250px;
	border-width: 3px;
    	border-style: solid;
    	-webkit-border-image:-webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    	-webkit-border-image:-webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    	-moz-border-image:-moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    	-o-border-image:-o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    	border-image:linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
	font-family:"BettyNoir", Helvetica, sans-serif;	
}
#welcomeText{
	padding-top:25px;
	font-family:"BettyNoir", Helvetica, sans-serif;
	background:-webkit-linear-gradient(purple, black, blue);
	-webkit-background-clip: text;
  	font-weight:bold;
	font-size:20px;
}

@font-face {
    font-family: 'BettyNoir';
    src: url('./bettynoirbb_tt/bettynoir.ttf');
}
